body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: rgb(65, 67, 68);
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(48, 49, 49);
    box-shadow: 0 2px 4px rgb(44, 44, 44);
}

h1,
h2,
p {
    color: black;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(43, 65, 77);
    color: black;
    border: none;
    cursor: pointer;
}

#responseData {
    margin-top: 20px;
    font-size: 18px;
}